*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.main{
    background: url(Images/Pets/background.jpg);
    background-size: cover;
    border: 2px solid Black;
    min-height: 100vh;
    display: flex;

}

.content{

    
    padding: 10px;
    margin: 10% auto;
    width: 800px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
    animation-name: textAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: infinite;


}

.content img{
    width: 800px;
    height: 400px;
    /* z-index: 999; */
}

.content p{
    margin: 10px 0;
    color: white;
}

.content a{
    font-size: 20px;
    padding: 5px 25px;
    color: white;
    background-color: #36255B;
    border: none;
    text-decoration: none;
}

.content .ex:hover{
    background-color: white;
    color: #36255B;
}

.gal h1{
    position: absolute;
    top: 15%; left: 15%;
    letter-spacing: 20px;
    color: rgba(255, 255, 255, 0.364);
    font-size: 350px;
    z-index: 1;

}

/* .gal{
    z-index: -1;
} */

.content .title{
    text-align: right;
    padding: 10px 25px;
    line-height: 35px;
    font-weight: 500;
}

.container{
    /* background: linear-gradient(#3A377A, #9198e5); */
    background: linear-gradient( #36255B, #D190A8, #393679);
    border: 2px solid black;
    min-height: 100vh;
    width: 100%;

}

.logo{
    
    position: absolute;
    margin: 10px 10px;
    top: 10px; left: 25px;
    padding: 10px;
    display: flex;
    border: 0.1px solid white;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.364);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.25);
   
}

.logo h3{
    color: #36255B;
}

.logo1{
    
    position: absolute;
    margin: 10px 10px;
    top: 10px; left: 25px;
    padding: 10px;
    display: flex;
    border: 0.1px solid white;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.364);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.25);

    visibility: hidden;
   
}

.logo1 h4{
    font-size: 25px;
    color: #36255B;
}



/* .logo img{
    height: 20px;
    width: 20px;
} */

.filter_btns{
    position: relative;
    /* max-width: 1500px; */
    margin: 20px auto;
    justify-content:center;
    height: 50px;
    width: 80%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

.filter_btns button{

    font-size: larger;
    padding: 10px 20px;
    background: #ccb0f5;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.images_body{

    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
    

}

.images_body .imgcard{

    flex-basis: 300px;
    border-radius: 10px;  
    flex-grow: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    cursor: pointer;
    
}

.imgcard.hide{
    display: none;
}

.images_body div img{

    object-fit: cover;

    height: 400px;
    border-radius: 10px;
    width: 100%;
}

.images_body .imgcard:hover img{
    transform: scale(1.1);
}

.filter_btns .active{
    background: #ffffff;
}

.container .pop_image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    
}

/* .pop_image img{
    height: 600px;
    width: 800px;
} */

.container .pop_image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.container .pop_image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
    
}

.exp{
    position: absolute;

    width: 150px;
    height: 40px;
    background: #36255B;

}

.exp a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    
}

@media (max-width: 794px){
    .container .pop_image img{
        width: 95%;
    }

    .logo{
        display: none;
    }

    .logo1{
        visibility: visible;
    }

    
}

@media (max-width: 562px){
    .images_body{
        margin: 20% auto;
    }
}

@keyframes textAnimation{
    from{
        z-index: 1;
    }
    to{
        z-index: 0;
    }
}